* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.lead {
    font-size: 1.5rem;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0,0,0,0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1%;
    padding: 1rem 1%;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
}

section#home {
    background-color: rgba(0,0,0,0.7);
    align-items: flex-start;
}

section#home h1,section#home p{
    padding-left: 5vw;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-1;
}

/* Portfolio */
section#portfolio {
    background-color: rgb(255,255,255);
    color: black;
}

.pf-container{
    display: grid;
    grid-template-areas: 
    'pf1 pf2 pf3'
    'pf4 pf5 pf6';
    grid-gap: 5vw;
}

.pf-box {
    height: 135px;
    width: 240px;
    background-color: rgba(0,0,0,0.7);
}

.pf h1{
    padding-bottom: 40px;
}

.pf-btn{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(112, 156, 131);
}

.pf-box:hover{
    background-color: rgba(100,100,100,0.7);
}

#pf-1{
    grid-area: pf1;
}

#pf-2{
    grid-area: pf2;
}

#pf-3{
    grid-area: pf3;
}

#pf-4{
    grid-area: pf4;
}

#pf-5{
    grid-area: pf5;
}

#pf-6{
    grid-area: pf6;
}

/* About me */
section#about {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
}

.about-container{
    height: 70%;
    width: 70%;
    background-color: rgb(50,50,50);
    border-radius: 30px;
}

.about-container p{
    margin: 0 10%;
}

.about-container img{
    margin: 3%;
}

/* Contact me */
section#contact {
    background-color: rgba(0,0,0,0.7);
}

.contact-form{
    background-color: seagreen;
    height: 70vh;
    width: 70vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: large;
}

input[type=text]{
    width: 60vw;
    height: 5vh;
}
.contact-form div i{
    width: 50px;
    height: 50px;
    margin: 10px;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* Responsiveness */
@media (max-width:768px){
    *{
        font-size: smaller;
    }
    li{
        font-size: small;
        padding: 10px 1%;
    }
    .cactus-icon{
        width: 35px;
        height: 35px;
    }
    .navbar{
        height: auto;
    }
    .pf-container{
        grid-template-areas: 
        'pf1 pf2'
        'pf3 pf4' 
        'pf5 pf6';
    }
}

@media (max-width:425px){
    .pf-box {
        height: 90px;
        width: 160px;
    }
}
